<footer class="d-flex flex-wrap justify-content-between align-items-center py-4 my-3 border-top">

    <div class="container">
        <p class="col-md-4 d-inline-block">© 2022 Company, Inc</p>
        <a class="float-end" href="/">
            <img alt="사이트 로고" class="logo" src="/img/logo.png">
        </a>
        <!-- <div id="visit-count" class="col-md-2 justify-content-end">
        <ul>
           <li>
              <p class="total">전체 방문자 : ${pageScope.total }</p>
           </li>

           <li>
              <p class="today">오늘 방문자 : ${pageScope.today }</p>
           </li>

        </ul>
     </div> -->
    </div>
</footer>
</body>

</html>