<header class="py-3 mb-4 border-bottom">
    <div class="container">
        <div>
            <a class="logo" href="/">
                <img alt="사이트 로고" class="logo me-5" th:src="@{/img/logo.png}">
            </a>

            <ul id="menu-box">
                <li>
                    <a class="nav-link px-2 link-dark" th:href="@{/user/board/}+'3'">숙소리뷰</a>
                </li>
                <li class="dropdown"><a aria-expanded="false" aria-haspopup="true"
                                        class="nav-link px-2 link-dark dropdown-toggle"
                                        data-toggle="dropdown" href="#" id="dropdownBoard1">숙소톡톡</a>
                    <ul aria-labelledby="dropdownBoard1" class="dropdown-menu text-small">
                        <li><a class="dropdown-item" th:href="@{/user/board/}+'1'">해안가 인근 숙소 추천</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/board/}+'2'">조용한 숙소 추천</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/board/}+'15'">우리 동네 숙소</a></li>
                        <li><a class="dropdown-item" th:href="@{/user/board/}+'7'">이벤트</a></li>
                    </ul>

                </li>
            </ul>

            <div id="login-box" th:if="${session.member} == null">
                <button class="btn btn-outline-primary me-2" onclick="location.href='/user/joinForm'"
                        type="button">회원가입
                </button>
                <button class="btn btn-primary" onclick="location.href='/loginForm'" type="button">로그인</button>
            </div>
            <div id="user-box" th:if="${session.member}">
                <ul class="notice-box">
                    <li class="dropdown">

                        <a aria-expanded="false" aria-haspopup="true"
                           class="nav-link px-2 link-dark dropdown-toggle user-alarm"
                           data-toggle="dropdown" href="#" id="dropdownAlarmList">알림<span
                                class="notion"></span></a>
                        <div aria-labelledby='dropdownAlarmList' class='dropdown-menu text-small' id="alarm-box">
                        </div>
                    </li>
                    <li>
                        <a class="nav-link px-2 link-dark user-note" th:href="@{/note/list}">쪽지<span class="notion">
								<!-- <i
									class="ico">3</i> --></span></a></li>
                </ul>
                <div class="dropdown private-box">

                    <a aria-expanded="false" aria-haspopup="true"
                       class="d-block link-dark text-decoration-none dropdown-toggle"
                       data-toggle="dropdown" href="#" id="dropdownUserMenu">
                        <img alt="mdo" class="rounded-circle" height="32" src="https://github.com/mdo.png"
                             width="32"><span class="user-name" th:text="${session.member.nick}"></span>
                    </a>
                    <ul aria-labelledby="dropdownUserMenu" class="dropdown-menu text-small">
                        <li><a class="dropdown-item"  th:href="@{/intranet}" th:if="${session.member.grade} == 5">관리자 페이지</a></li>
                        <!-- <li><a class="dropdown-item" th:href="@{/member/room?type=review}">나의 숙소 리뷰</a></li> -->
                        <li><a class="dropdown-item" th:href="@{/member/room?type=basic}">내가 쓴 게시글</a></li>
                        <li><a class="dropdown-item" th:href="@{/member/gradeup_list}">등업신청</a></li>
                        <li><a class="dropdown-item" th:href="@{/member}">정보수정</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" th:href="@{/logout}">로그아웃</a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</header>
