<html layout:decorate="~{layout/user_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<div>
    <div class="content-center" layout:fragment="content">
        <div class="row" id="page-title">
            <img alt=""
                 src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/apple/285/loudly-crying-face_1f62d.png" style="width: 90px;margin: 0 auto;margin-bottom: 23px;">
            <h1 class="text-center">OPPS! <span th:text="${status}"></span></h1>
            <div class="stit" style="font-size: 17px;text-align: center;font-weight: 500;margin-top: 16px;">
                <p th:text="${'path: ' + path}"></p>
                <p th:text="${'error: ' + error}"></p>
                <p th:text="${'errors: ' + errors}"></p>
                <p th:text="${'exception: ' + exception}"></p>
                <p th:text="${'message: ' + message}"></p>
                <p th:text="${'trace: ' + trace}"></p>
            </div>
        </div>
        <button class="btn btn-lg btn-primary mb-4 mt-3 w-100" th:onclick="|location.href='@{/}'|">메인으로 이동</button>
    </div>
</div>

<body>
<div class="errorPage"><span class="errorHead">Error!</span><br/>

</div>
</body>

</html>