<html layout:decorate="~{layout/user_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">
<div class="board-page" id="postList" layout:fragment="content">
    <div class="row" id="page-title">
        <h1 class="text-center" th:text="${board.title}"></h1>
    </div>
    <div class="todo-content">
        <table class="table table-bordered table-striped table-condensed flip-content">
            <thead>
            <tr>
                <th>번호</th>
                <th>제목</th>
                <th>작성일</th>
                <th>작성자</th>
                <th>조회수</th>
            </tr>
            </thead>
            <tbody>
            <span th:if="${posts==null}">
					<tr>
						<td colspan="5">등록된 게시글이 없습니다.</td>
					</tr>
				</span>
            <span th:if="${posts!=null}">
					<tr th:each="post : ${posts}">
						<td th:text="${post.postNo}"></td>
						<td><a th:href="@{/post/{postNo}(postNo=${post.postNo})}"><span class="post-subject"
                                                                                        th:text="${post.subject}"></span><span
                                class="post-comment" th:text="'('+${post.commont}+')'"></span></a>
						</td>
						<td><span th:text="${post.createDate}"></span></td>
						<td><span th:text="${post.writerNick}"></span></td>
                        <td><span th:text="${post.views}"></span></td>
					</tr>
				</span>
            </tbody>
        </table>
        <div id="writePost" style="text-align: right;">
            <a th:href="@{/post/write(boardNo=${board.boardNo})}">
                <button class="btn btn-primary" type="button">글작성</button>
            </a>
        </div>
    </div>
</div>