<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/admin_layout}">

<div layout:fragment="page-title">게시판 관리</div>
<div layout:fragment="content">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <a th:href="@{/intranet/board/write}" class="btn btn-primary" style="float: right">게시판
                                등록</a>
                        </div>
                    </div>
                    <form id="boardList">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                    cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th>#</th>
                                            <th>게시판ID</th>
                                            <th>게시판 명</th>
                                            <th>게시판 그룹</th>
                                            <th>접근등급</th>
                                            <th>게시판 유형</th>
                                            <th>게시글 갯수</th>
                                            <th>비고</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="board : ${boardList}">
                                            <td>
                                                <span th:text="${boardStat.count}"></span>
                                            </td>
                                            <td th:text="${board.boardNo}"> </td>
                                            <td>
                                                <a th:href="@{/intranet/board/}+${board.boardNo}">
                                                    <span th:text="${board.title}"></span>
                                                </a>
                                            </td>
                                            <td th:text="${board.groupName}"></td>
                                            <td th:text="${board.boGrade}"></td>
                                            <td th:text="${board.type}"></td>
                                            <td th:text="${board.postCount}"></td>
                                            <td>
                                                <button type="button"
                                                    class="btn btn-primary btn-sm btncheck">삭제</button>
                                                <input type="hidden" name="boardNo" th:value="${board.boardNo}"
                                                    class="boardNo">
                                            </td>

                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                            <script>
                                $(function () {
                                    $(".btncheck").on('click', function () {

                                        if (confirm("해당 게시판을 정말 삭제하시겠습니까?")) {
                                            let boardNo = $(this).next(".boardNo").val();

                                            $.ajax({
                                                url: '/intranet/board_delete/' + boardNo,
                                                type: 'GET',
                                                success: function (data) {
                                                    if (data == "success") {
                                                        location.reload();
                                                    } else {
                                                        alert("올바르게 작동하지 않았습니다.");
                                                        return false;
                                                    }
                                                },
                                                error: function (err) {
                                                    console.log(err);
                                                }

                                            });
                                        };
                                    });
                                });
                            </script>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>