<!DOCTYPE html>
<html layout:decorate="~{layout/admin_layout}" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org">

<div layout:fragment="page-title">게시판 그룹 관리</div>
<div layout:fragment="content">
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <div class="dataTables_wrapper dt-bootstrap4" id="dataTable_wrapper">
                    <div class="row text-right">
                        <div class="col-sm-12">
                            <a class="btn btn-primary" style="float: right" th:href="@{/intranet/board_group/write}">게시판 그룹
                                등록</a>
                        </div>
                    </div>
                    <form id="boardGroupList">
                        <div class="row">
                            <div class="col-sm-12">
                                <table aria-describedby="dataTable_info" cellspacing="0"
                                       class="table table-bordered dataTable"
                                       id="dataTable" role="grid" style="width: 100%;"
                                       width="100%">
                                    <thead>
                                    <tr role="row">
                                        <th>#</th>
                                        <th>게시판 그룹 명</th>
                                        <th>포함된 게시판 갯수</th>
                                        <th>비고</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="boardGroup : ${boardGroupList}">
                                        <td th:text="${boardGroup.groupNo}"></td>
                                        <td>
                                            <a th:href="@{/intranet/board_group/{groupNo}(groupNo=${boardGroup.groupNo})}">
                                                <span th:text="${boardGroup.groupName}"></span>
                                            </a>
                                        </td>
                                        <td th:text="${boardGroup.boardCount}"></td> <!-- boardCount가 맞는지 getboardCount가 맞는지-->
                                        <td>

                                            <button class="btn btn-primary btn-sm delectBtn" type="button">삭제
                                            </button>
                                            <input class="groupNo" name="groupNo" th:value="${boardGroup.groupNo}"
                                                   type="hidden">
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <script>
                                $(function () {
                                    $(".delectBtn").on('click', function () {

                                        if (confirm("해당 게시판 그룹을 정말 삭제하시겠습니까?")) {
                                            let groupNo = $(this).next(".groupNo").val();
                                            console.log(groupNo);
                                            $.ajax({
                                                url    : '/intranet/board_group/delete?groupNo=' + groupNo,
                                                type   : 'GET',
                                                success: function (data) {
                                                    if (data == "success") {
                                                        console.log(data);
                                                        location.reload();


                                                    } else {
                                                        alert("해당 게시판 그룹을 삭제하려면 포함된 게시판이 없어야 합니다.");
                                                        return false;
                                                    }
                                                },
                                                error  : function (err) {
                                                    console.log(err);
                                                }
                                            });
                                        }
                                        ;
                                    });
                                });
                            </script>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate">
                                <th:block layout:fragment="paging" th:include="@{/fragment/pagination}"></th:block>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>