<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="AttachDao">
	<parameterMap type="AttachVo" id="insertAttachVoParameterMap">
		<parameter property="postNo" javaType="int" jdbcType="INTEGER"/>
		<parameter property="systemFileName" javaType="string" jdbcType="VARCHAR" />
		<parameter property="originalFileName" javaType="string" jdbcType="VARCHAR" />
		<parameter property="fileSize" javaType="int" jdbcType="INTEGER" />
		<parameter property="fileType" javaType="int" jdbcType="INTEGER" />
	</parameterMap>

	<insert id="insertPostAttach" parameterType="AttachVo" parameterMap="insertAttachVoParameterMap">
		INSERT INTO attach (post_no, atta_sysname, atta_realname, atta_size, atta_type)
		VALUES(#{postNo}, #{systemFileName}, #{originalFileName}, #{fileSize},#{fileType})
	</insert>

	<resultMap id="selectAttachVoMap" type="AttachVo">
		<result property="no" column="atta_no" />
		<result property="postNo" column="post_no" />
		<result property="originalFileName" column="atta_realname" />
		<result property="systemFileName" column="atta_sysname" />
		<result property="fileSize" column="atta_size" />
		<result property="fileType" column="atta_type" />
	</resultMap>

	<select id="selectPostAttach" parameterType="int" resultMap="selectAttachVoMap">
		SELECT atta_no, post_no, atta_realname, atta_sysname, atta_size, atta_type
		FROM attach WHERE post_no = #{poNo}
	</select>

	<select id="selectPostAttachByAtNo" parameterType="int" resultMap="selectAttachVoMap">
		SELECT atta_no, post_no, atta_realname, atta_sysname, atta_size, atta_type
		FROM attach WHERE atta_no = #{no}
	</select>
	<!--	<insert id="insertPoastAttach" parameterType="java.util.List">-->
	<!--		INSERT INTO attach (post_no, atta_realname, atta_sysname,atta_size, atta_type) VALUES-->
	<!--		<foreach collection="list" item="item" separator=",">-->
	<!--			(-->
	<!--			 #{item.postNo}, #{item.originalFileName}, #{item.systemFileName}, #{item.fileSize}, #{item.fileType}-->
	<!--			)-->
	<!--		</foreach>-->
	<!--	</insert>-->

	<delete id="deletePostAttach" parameterType="int">
		DELETE from attach WHERE atta_no = #{attaNo}
	</delete>

	<delete id="deleteAttachbyPost" parameterType="int">
		DELETE from attach WHERE post_no = #{poNo}
	</delete>


</mapper>













