<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<settings>
		<setting name="callSettersOnNulls" value="true" />
		<setting name="returnInstanceForEmptyRow" value="true" />
	</settings>
	<typeAliases>


		<!-- 회원 -->
		<typeAlias type="com.example.member.MemberVo" alias="MemberVo" />
		<typeAlias type="com.example.member.MemberStateVo"
			alias="MemberStateVo" />
		<typeAlias type="com.example.member.MemberAndMemberStateVo"
			alias="MemberAndMemberStateVo" />

		<!-- 회원 등업 -->
		<typeAlias type="com.example.grade.GradeUpVo" alias="GradeUpVo" />
		<typeAlias type="com.example.grade.MemberGradeVo"
			alias="MemberGradeVo" />

		<!-- 게시판 -->
		<typeAlias type="com.example.board.BoardVo" alias="BoardVo" />

		<!-- 게시글 -->
		<typeAlias type="com.example.board.AttachVo" alias="AttachVo" />
		<typeAlias type="com.example.board.CommentVo" alias="CommentVo" />
		<typeAlias type="com.example.board.PostVo" alias="PostVo" />
		<typeAlias type="com.example.board.ReviewVo" alias="ReviewVo" />
		<typeAlias type="com.example.board.RoomVo" alias="RoomVo" />
		<!-- 사이트 등급 -->
		<typeAlias type="com.example.grade.SiteGradeVo" alias="SiteGradeVo" />
	</typeAliases>
</configuration>