<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="SiteGradeDao">

    <!--	 사이트등급조회-->
    <resultMap id="SiteGradeListResult" type="SiteGradeVo">
        <result property="memGrade" column="mg_grade"/>
        <result property="memGradeName" column="mg_name"/>
        <result property="memGradeType" column="mg_type"/>
        <result property="memGradeBoard" column="mg_board"/>
        <result property="memGradeComment" column="mg_com"/>
        <result property="memGradeVisit" column="mg_visit"/>
        <result property="memGradeUse" column="mg_use"/>
    </resultMap>

    <!--    관리자에 출력되는 사이트 등급 전부-->
    <select id="selectSiteGradeList" resultMap="SiteGradeListResult">
        SELECT mg_grade, mg_name, mg_type, mg_board, mg_com, mg_visit, mg_use FROM membergrade
    </select>

    <!--  현재 사용중인 등급 -->
    <select id="selectSiteGradeToUser" resultMap="SiteGradeListResult">
        SELECT mg_grade, mg_name, mg_type, mg_board, mg_com, mg_visit FROM membergrade WHERE mg_use = 1
    </select>

    <!--    등급 상세 조회 -->
    <select id="selectSiteGrade" parameterType="int" resultType="SiteGradeVo">
        SELECT mg_grade as memGrade, mg_name as memGradeName, mg_type as memGradeType, mg_board as memGradeBoard, mg_com as memGradeComment, mg_visit as memGradeVisit FROM membergrade WHERE mg_grade=#{memGrade}
    </select>

    <parameterMap id="updateSiteGradeParameter" type="SiteGradeVo">
        <parameter property="memGrade" javaType="int"
                   jdbcType="INTEGER" mode="IN"/>
        <parameter property="memGradeName" javaType="String"
                   jdbcType="VARCHAR" mode="IN"/>
        <parameter property="memGradeType" javaType="int"
                   jdbcType="INTEGER" mode="IN"/>
        <parameter property="memGradeBoard" javaType="int"
                   jdbcType="INTEGER" mode="IN"/>
        <parameter property="memGradeComment" javaType="int"
                   jdbcType="INTEGER" mode="IN"/>
        <parameter property="memGradeVisit" javaType="int"
                   jdbcType="INTEGER" mode="IN"/>
        <parameter property="memGradeUse" javaType="int"
                   jdbcType="INTEGER" mode="IN"/>
    </parameterMap>
    <!-- 사이트 등급 수정 -->
    <update id="updateSiteGrade" parameterMap="updateSiteGradeParameter">

        UPDATE membergrade
        SET mg_name=#{memGradeName},
            mg_type=#{memGradeType},
            mg_board=#{memGradeBoard},
            mg_com=#{memGradeComment},
            mg_visit=#{memGradeVisit},
            mg_use=#{memGradeUse}
        WHERE mg_grade = #{memGrade}

    </update>

    <!-- 등업신청 가능 등급 조회 (회원은 관리자 등급에 신청이 불가능함) -->
    <resultMap id="possibleGradeVoResult" type="SiteGradeVo">
        <result property="memGrade" javaType="int" column="mg_grade" jdbcType="INTEGER"/>
        <result property="memGradeName" javaType="string" column="mg_name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="possibleGrade" parameterType="int" resultMap="possibleGradeVoResult">
        SELECT mg_grade, mg_name
        FROM membergrade
                 LEFT JOIN member
                           ON mb_board >= mg_board AND mb_visit >= mg_visit AND mb_comment >= mg_com
        <![CDATA[
        WHERE mb_grade < mg_grade AND mg_grade != 5 AND mg_use != 0
          AND mb_no = ${memNo}
        ]]>
    </select>
</mapper>